body {
	margin: 0 auto;
	padding: 0;
	width: 980px;
	font-family: Arial;
}

ul {
	list-style-type: none;
}

li {
	float: left;
	margin-left: 75px;
}

a {
	padding: 10px;
	color: white;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #D2B48C;
}

p {
	padding: 15px;
}

p> a, p > a:hover {
	color: black;
}

img {
	padding: 12px;
}
